
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.gridContainer >img {
  width: 100%;
  height: 100px;
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}

.enter {
  opacity: 0.01;
   transition: opacity 1s ease-out;
}

.leave{
  opacity: 0.01;
  transition: opacity 1s ease-in;
}
